Extract the following financial figures: Total Revenue, Net Income, Total Assets, Total Liabilities, and Cash Flow from Operating Activities.

In [1]:
import pandas as pd

In [2]:
# Correct way to read Excel files
df = pd.read_excel('t1.xlsx')

In [3]:
df

      Company                            Metric    2024    2023    2022
0   Microsoft        Total Revenue(in millions)  245122  211915  198270
1   Microsoft           Net Income(in millions)   88136   72361   72738
2   Microsoft         Total Assets(in millions)  512163  411976  364840
3   Microsoft    Total Liabilities(in millions)  243686  205753  198298
4   Microsoft  Operating Cash Flow(in millions)  118548   87582   89035
5       Tesla        Total Revenue(in millions)   97690   96773   81462
6       Tesla           Net Income(in millions)    7153   14974   12587
7       Tesla         Total Assets(in millions)  122070  106618   82338
8       Tesla    Total Liabilities(in millions)   48390   43009   36440
9       Tesla  Operating Cash Flow(in millions)   14923   13256   14724
10      Apple        Total Revenue(in millions)    7700    8200    7500
11      Apple           Net Income(in millions)   93736   96995   99803
12      Apple         Total Assets(in millions)  364980  352583  352755
13      Apple    Total Liabilities(in millions)  308030  290437  302083
14      Apple  Operating Cash Flow(in millions)  118254  110543  122151

In [4]:
# Filter for Total Revenue rows only
revenue_df = df[df['Metric'] == 'Total Revenue(in millions)'].copy()

# Calculate year-over-year percentage changes
revenue_df['2024_vs_2023_Change(%)'] = ((revenue_df.iloc[:, 2] - revenue_df.iloc[:, 3]) / revenue_df.iloc[:, 3]) * 100
revenue_df['2023_vs_2022_Change(%)'] = ((revenue_df.iloc[:, 3] - revenue_df.iloc[:, 4]) / revenue_df.iloc[:, 4]) * 100

# Round to 2 decimal places
revenue_df['2024_vs_2023_Change(%)'] = revenue_df['2024_vs_2023_Change(%)'].round(2)
revenue_df['2023_vs_2022_Change(%)'] = revenue_df['2023_vs_2022_Change(%)'].round(2)

# Display results
print("Total Revenue Year-over-Year Changes:")
print(revenue_df[['Company', '2024_vs_2023_Change(%)', '2023_vs_2022_Change(%)']])

Total Revenue Year-over-Year Changes:
      Company  2024_vs_2023_Change(%)  2023_vs_2022_Change(%)
0   Microsoft                   15.67                    6.88
5       Tesla                    0.95                   18.80
10      Apple                   -6.10                    9.33

In [5]:
# Filter for Net Income rows only
income_df = df[df['Metric'] == 'Net Income(in millions)'].copy()

# Calculate year-over-year percentage changes
income_df['2024_vs_2023_Change(%)'] = ((income_df.iloc[:, 2] - income_df.iloc[:, 3]) / income_df.iloc[:, 3]) * 100
income_df['2023_vs_2022_Change(%)'] = ((income_df.iloc[:, 3] - income_df.iloc[:, 4]) / income_df.iloc[:, 4]) * 100

# Round to 2 decimal places
income_df['2024_vs_2023_Change(%)'] = income_df['2024_vs_2023_Change(%)'].round(2)
income_df['2023_vs_2022_Change(%)'] = income_df['2023_vs_2022_Change(%)'].round(2)

# Display results
print("Net Income Year-over-Year Changes:")
print(income_df[['Company', '2024_vs_2023_Change(%)', '2023_vs_2022_Change(%)']])

Net Income Year-over-Year Changes:
      Company  2024_vs_2023_Change(%)  2023_vs_2022_Change(%)
1   Microsoft                   21.80                   -0.52
6       Tesla                  -52.23                   18.96
11      Apple                   -3.36                   -2.81

In [6]:
# Filter for Operating Cash Flow rows only
cashflow_df = df[df['Metric'] == 'Operating Cash Flow(in millions)'].copy()

# Calculate year-over-year percentage changes
cashflow_df['2024_vs_2023_Change(%)'] = ((cashflow_df.iloc[:, 2] - cashflow_df.iloc[:, 3]) / cashflow_df.iloc[:, 3]) * 100
cashflow_df['2023_vs_2022_Change(%)'] = ((cashflow_df.iloc[:, 3] - cashflow_df.iloc[:, 4]) / cashflow_df.iloc[:, 4]) * 100

# Round to 2 decimal places
cashflow_df['2024_vs_2023_Change(%)'] = cashflow_df['2024_vs_2023_Change(%)'].round(2)
cashflow_df['2023_vs_2022_Change(%)'] = cashflow_df['2023_vs_2022_Change(%)'].round(2)

# Display results
print("Operating Cash Flow Year-over-Year Changes:")
print(cashflow_df[['Company', '2024_vs_2023_Change(%)', '2023_vs_2022_Change(%)']])

Operating Cash Flow Year-over-Year Changes:
      Company  2024_vs_2023_Change(%)  2023_vs_2022_Change(%)
4   Microsoft                   35.36                   -1.63
9       Tesla                   12.58                   -9.97
14      Apple                    6.98                   -9.50

Using pandas data cleaning, I've found out :
- The percentage increases from year-to-year of the following categories
- Total Revenue
- Operating Cash Flow
- Net Income

Microsoft has been the best performing out of all 3 of these companies as it has been steadily growing in all areas, without any decline in profiteering. 

Tesla saw a severe decrease in net income, while operating cash flow has been fluctuating. 

Apple also hasn't been keeping consistent in many areas, except total assets. In other categories, numbers have been increasing and decreasing. There is no steady trend.

In [7]:
pip install pandoc

Requirement already satisfied: pandoc in /Users/rahulallamraju/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (2.4)
Requirement already satisfied: plumbum in /Users/rahulallamraju/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from pandoc) (1.9.0)
Requirement already satisfied: ply in /Users/rahulallamraju/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from pandoc) (3.11)
Requirement already satisfied: importlib-resources in /Users/rahulallamraju/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from plumbum->pandoc) (6.1.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/rahulallamraju/Library/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from importlib-resources->plumbum->pandoc) (3.17.0)
Note: you may need to restart the kernel to use updated packages.